<!-- Favicon .ICO multi-resolución -->
<link rel="icon" href="{{ '/assets/logo/favicon.ico' | relative_url }}" type="image/x-icon">

<!-- PNGs en diferentes resoluciones -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/logo/favicon-16x16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/logo/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ '/assets/logo/favicon-48x48.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/logo/favicon-64x64.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/logo/favicon-96x96.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/logo/android-chrome-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/logo/android-chrome-512x512.png' | relative_url }}">

<!-- Apple -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/logo/apple-touch-icon.png' | relative_url }}">

<!-- Manifest en español -->
<link rel="manifest" href="{{ '/assets/logo/site.webmanifest' | relative_url }}" hreflang="es">

<!-- Theme Color (Android status bar) -->
<meta name="theme-color" content="#00d6c1">

<!-- Botón de copiar -->
<script defer src="{{ '/assets/js/copy-code.js' | relative_url }}"></script>
